@page "/play/{gamecode?}"
@page "/host"
@inject GameSettings settings
@inject NavigationManager Navigation

<div class="row">
    <div class="col-auto">
        Bingo Hall
        &nbsp;
        <span style="font-family:monospace; font-weight:bold;">@GameCode</span>&nbsp;<button @onclick="CopyGameCode" title="copy" class="symbolbutton" style="font-size:16pt; line-height:16pt; padding:0; vertical-align:baseline;">&#128471;</button>
    </div>
@if (isHost)
{
    <div class="col-auto">
        <label><span class="symbol silhouettebust" title="number of players"></span> @players.Count</label>
    </div>
    <div class="col-auto">
        <button type="button" class="symbolbutton" @onclick="Restart" title="New Game" style="font-size:16pt; line-height:16pt; padding:0; vertical-align:baseline;">&#8634;</button>
    </div>
}
    <div class="col-auto">
        Call # @NumberOfCalls
    </div>
    <div class="col-auto">
        <button type="button" class="symbolbutton" title="Settings" @onclick="ToggleSettings" style="font-size:16pt; line-height:16pt; padding:0; vertical-align:baseline;"><span class="gear"></span></button>
    </div>
</div>

<Flashboard @ref="flashboard" BoardSize="75"></Flashboard>

<div id="BingoCard" class="@settings.CardTheme prevent-select mb-1">
    <table>
        <thead>
            <tr>
                <td>B</td>
                <td>I</td>
                <td>N</td>
                <td>G</td>
                <td>O</td>
            </tr>
        </thead>
        <tbody>
        @for (int r = 0; r < 5; r++)
        {
            <tr>
                @for (int c = 0; c < 5; c++)
                {
                    var square = squares[r, c];                    
                    if(square == null) { continue; }
                    var row = r;
                    var col = c;
                    <td>
                        <div class="square" @onclick="eventargs => StampSquare(eventargs, row, col)">
                            <div>@((MarkupString)square.Value.ToString())</div>
                            <div class="@square.StampClass" style="transform: rotate(@(square.StampRotation)deg);"></div>
                        </div>
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>

<div id="PlayerControls" class="row mb-2">
    @if (isHost)
    {
        <div class="col" style="text-align:center;">
            <button type="button" class="btn btn-primary" @onclick="Pick" disabled="@isCalling">Pick</button>
        </div>
    }
    <div class="col" style="text-align:center;">
        <button type="button" class="btn btn-success" title="Bingo" @onclick="CallBingo" hidden="@(!isGameStarted)">Bingo!</button>
        <button type="button" class="btn btn-secondary" title="New card" @onclick="GenerateNewCard" hidden="@isGameStarted"><span class="refresh"></span> New Card</button>        
    </div>
    <div class="col" style="text-align:center;">
        <GamePatternDisplay Pattern="@settings.SelectedPattern"></GamePatternDisplay>        
    </div>
</div>

<div>
    @notificationMessage
</div>

@if (showSettings)
{
    <SettingsScreen isGameStarted="@isGameStarted"></SettingsScreen>
}
