@page "/play/{gamecode?}"
@page "/host"
@inject GameSettings settings
@inject NavigationManager Navigation

<div class="row">
    <div class="col-auto">
        Bingo Hall
        &nbsp;
        <span style="font-family:monospace; font-weight:bold;">@GameCode</span>&nbsp;<button @onclick="CopyGameCode" title="copy" class="symbolbutton" style="font-size:16pt; line-height:16pt; padding:0; vertical-align:baseline;">&#128471;</button>
    </div>
@if (isHost)
{
    <div class="col-auto">
        <label><span class="symbol silhouettebust" title="number of players"></span> @players.Count</label>
    </div>
    <div class="col-auto">
        <button type="button" class="symbolbutton" @onclick="Restart" title="New Game" style="font-size:16pt; line-height:16pt; padding:0; vertical-align:baseline;">&#8634;</button>
    </div>
}
    <div class="col-auto">
        Call # @NumberOfCalls
    </div>
</div>

<Flashboard @ref="flashboard" BoardSize="75"></Flashboard>

<div id="BingoCard" class="@settings.CardTheme prevent-select mb-1">
    <table>
        <thead>
            <tr>
                <td>B</td>
                <td>I</td>
                <td>N</td>
                <td>G</td>
                <td>O</td>
            </tr>
        </thead>
        <tbody>
        @for (int r = 0; r < 5; r++)
        {
            <tr>
                @for (int c = 0; c < 5; c++)
                {
                    var square = squares[r, c];                    
                    if(square == null) { continue; }
                    var row = r;
                    var col = c;
                    <td>
                        <div class="square" @onclick="eventargs => StampSquare(eventargs, row, col)">
                            <div>@((MarkupString)square.Value.ToString())</div>
                            <div class="@square.StampClass" style="transform: rotate(@(square.StampRotation)deg);"></div>
                        </div>
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>

<div id="PlayerControls" class="row mb-2">
    @if (isHost)
    {
        <div class="col" style="text-align:center;">
            <button type="button" class="btn btn-primary" @onclick="Pick" disabled="@isCalling">Pick</button>
        </div>
    }
    <div class="col" style="text-align:center;">
        <button type="button" class="btn btn-success" @onclick="CallBingo">Bingo!</button>
    </div>
    <div class="col" style="text-align:end;">
        <div style="width:2.2cm; float:left;" title="@settings.SelectedPattern">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <rect x="0" y="0" width="100" height="100" fill="black"></rect>
                <defs>
                    <pattern id="grid" width="20" height="20" patternUnits="userSpaceOnUse" viewBox="0 0 20 20">
                        <line x1="0" y1="0" x2="20" y2="0" stroke="white" stroke-width="1"></line>
                        <line x1="0" y1="0" x2="0" y2="20" stroke="white" stroke-width="1"></line>
                    </pattern>
                </defs>
                <rect width="100%" height="100%" fill="url(#grid)" />
                <g>
                    @{
                        var patternGrid = GamePatterns.GetPattern(settings.SelectedPattern);
                        for (int i = 0; i < 25; i++)
                        {
                            int row = i / 5;
                            int col = i % 5;
                            int gridSize = 20;
                            <circle cx="@((col + 0.5) * gridSize)" cy="@((row + 0.5) * gridSize)" r="6" fill="@(((patternGrid >> (24 - i)) & 1U) == 1U ? "hotpink" : "dimgray")"></circle>
                        }
                    }
                </g>
            </svg>
        </div>
        <button type="button" class="symbolbutton" title="Settings" @onclick="ToggleSettings"><span class="gear"></span></button>
        <button type="button" class="symbolbutton" title="mute or unmute" @onclick="ToggleMute"><span class="@( isMuted ? "mute" : "speaker" )"></span></button>
        <button type="button" class="symbolbutton" title="New card" @onclick="GenerateNewCard" disabled="@gameStarted"><span class="refresh"></span></button>
    </div>
</div>

<div>
    @notificationMessage
</div>

@if (showSettings)
{
    <SettingsScreen></SettingsScreen>
}

@code {
    [Parameter]
    public string? GameCode { get; set; }
}
