@page "/settings"
@inject GameSettings settings
@using System.Text.Json
@using System.Text.Json.Serialization

<div class="card mb-1">
    <div class="card-body">
        <h5 class="card-title">Game Settings</h5>
        @if (isLoaded)
        {
            <div class="row mb-2">
                <label>Dauber</label>
                <InputSelect @bind-Value="settings.Dauber">
                    @foreach (var dauber in Daubers)
                    {
                        <option value="@dauber.CssName()">@dauber</option>
                    }
                </InputSelect>
            </div>

            <div class="row mb-2">
                <label>Card Theme</label>
                <InputSelect @bind-Value="settings.CardTheme">
                    @foreach (var cardTheme in CardThemes)
                    {
                        <option value="@cardTheme.CssName()">@cardTheme</option>
                    }
                </InputSelect>
            </div>

            <div class="row mb-2">
                <label>Game Pattern</label>
                <InputSelect @bind-Value="settings.SelectedPattern">
                    @foreach (var pattern in GamePatterns.GetPatternNames())
                    {
                        <option value="@pattern">@pattern</option>
                    }
                </InputSelect>
            </div>

            @if (showVoiceSelection)
                {
                    <div class="row mb-2">
                        <label>Language</label>
                        <InputSelect @bind-Value="settings.SelectedLanguage">
                            @foreach (var lang in voices!.Select(x => x.lang).Distinct().Order())
                            {
                                <option>@lang</option>
                            }
                        </InputSelect>
                    </div>
                    <div class="row mb-2">
                        <label>Caller Voice</label>
                        <InputSelect @bind-Value="settings.CallerVoice" id="voiceSelect">
                            @foreach (var voice in voices!.Where(x => x.lang == settings.SelectedLanguage))
                            {
                                <option value="@voice.name" data-lang="@voice.lang">@voice.name.Replace("Microsoft ", string.Empty)</option>
                            }
                        </InputSelect>
                    </div>
                }
            }
    </div>
</div>
<div class="card mb-1">
    <div class="card-body">
        <details>
            <summary class="card-title">System Info</summary>
            <ul>
                <li>User-Agent: @userAgent</li>
                <li>Platform: @platform</li>
                <li>Language: @language</li>
            </ul>
        </details>
    </div>
</div>


